body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

/* @media (max-width:440px){
    div{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: ;
    itr
    }

     .content{
        width: 80%;
    }

    .main-container button
    {
        margin-top: 15px;
    }
}


@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,
    .cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
    
} */